
.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

@media (min-width: 768px) {
    .bd-placeholder-img-lg {
    font-size: 3.5rem;
    }
}

body{
    background-color:#2b2b2b ;
}
.card{
    /*height: 75%;*/
    background-color: transparent;
    margin: 2%;
}
#fila_card{
    margin-top: 2%;
}
#col_card{
    height: 75%;
}
#sidebarMenu{
    
    position: relative;
    height: 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    padding: 0 0 10px;
    overflow-x: hidden;
    overflow-y: auto;
    background-color:#4b4b4b ;
    top: barraNavArriba;
    bottom: 0;
    min-height: calc(100vh - 60px);
    min-width: max-content;
    
}
#barraNavArriba{
    height: 60px;
}
#primerafila{
    min-height: 100%;
}
#granContenedor{
    min-height: 100%;
    color: white;
}
.sidenav {
    height: 100%; /* Full-height: remove this if you want "auto" height */
    width: max-content; /* Set the width of the sidebar */
    min-width: max-content;
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: #4b4b4b; /* Black */
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 20px;
  }
html{min-height:100%;position:relative;}

/*


*/


#fila{
    height: 75%;
    position: relative;
    top:1%;
}

.btn-secondary{
    padding: 12px 40px;
    top: 3.5%;
    position:absolute;
    max-width: fit-content;
    max-height: 45px;
    margin-top: 0.5%;
}


::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: white;
    opacity: 1; /* Firefox */
}

.form__group {
    position: relative;
    padding: 15px 0 0;
    margin-top: 10px;
    width: 50%;
    margin-right: 5%;
}

.form__field {
    font-family: inherit;
    
    border: 0;
    border-bottom: 2px solid #9b9b9b;
    outline: 0;
    font-size: 1.3rem;
    text-decoration-color: white;
    color: #fff;
    padding: 7px 0;
    background: #4b4b4b;
    transition: border-color 0.2s;
    margin-left: 5%;
    margin-right: 5%;
}
.form__field::placeholder {
    color: white;
}
.form__field:placeholder-shown ~ .form__label {
    font-size: 1.3rem;
    cursor: text;
    top: 20px;
}

.form__label {
    position: sticky;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 1rem;
    color: #9b9b9b;
}

.form__field:focus {
    padding-bottom: 6px;
    font-weight: 700;
    border-width: 3px;
    border-image: linear-gradient(to right, #11998e, #38ef7d);
    border-image-slice: 1;
}
.form__field:focus ~ .form__label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 1rem;
    color: #11998e;
    font-weight: 700;
}

/* reset input */
.form__field:required, .form__field:invalid {
box-shadow: none;
}
  
  /* demo 
  body {
    font-family: "Poppins", sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-size: 1.5rem;
    background-color: #222222;
  }